<?xml version="1.0"?>
<opencv_storage>
<serverAmount>1</serverAmount>
<server_0>
  <_><id>0</id>
    <ip>"10.8.5.188"</ip>
    <port>"54321"</port>
    <boxAmount>1</boxAmount>
    <box_0>
      <_><id>0</id>
        <mac>"00:11:1c:02:30:98"</mac>
        <cameraAmount>2</cameraAmount>
        <camera_0>
          <_><id>0</id>
            <width>2048</width>
            <height>2048</height>
            <exposure>100</exposure>
            <gain>3</gain>
            <brightness>32</brightness>
            <contrast>32</contrast>
            <bitLut>8</bitLut>
            <saveFormat>1</saveFormat>
            <skipNumber>0</skipNumber>
            <triggerMode>1</triggerMode>
            <savePath>/home/tmp</savePath>
            <saveName>""</saveName></_></camera_0>
        <camera_1>
          <_><id>0</id>
            <width>2048</width>
            <height>2048</height>
            <exposure>100</exposure>
            <gain>3</gain>
            <brightness>32</brightness>
            <contrast>32</contrast>
            <bitLut>8</bitLut>
            <saveFormat>1</saveFormat>
            <skipNumber>0</skipNumber>
            <triggerMode>1</triggerMode>
            <savePath>/home/tmp</savePath>
            <saveName>""</saveName></_></camera_1></_></box_0></_></server_0>
</opencv_storage>
